body{
  padding: 80px;
 background-image:url("images/bgimg.png");
 background-size: 100%;
}
.heading{

text-align: center;
color: black;
text-shadow: 2px 2px 4px #306754;
font-family: 'Trebuchet MS', sans-serif;
font-size: 40px;
padding: 20px;
}

.calculator {
    padding: 10px;
    border-radius: 10px;
    height: 380px;
    width: 400px;
    margin: auto;
    background-color: #306754;
}


.input_area {
    font-family: 'Trebuchet MS', sans-serif;
    background-color: #CFECEC;
    border: solid black 2px;
    color: black;
    border-radius: 20px;
    width: 97%;
    height: 75%;
}
#btn {
    background-color:#77BFC7;
    width: 80%;
    height:80%;
}
#op{
  background-color: #5C3317;
  width: 80%;
  height:80%;
}
#num_btn{
  width: 80%;
  height:80%;
}

input[type=button] {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 30px;
    background-color: #E2F516;
    color: white;
    border: solid black 2px;
    width: 100%;
    border-radius: 50px;
    height: 100%;

}



input:active[type=button] {
    background: #e5e5e5;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
    box-shadow: inset 0px 0px 5px #c1c1c1;
}
